{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block htmlbody %}
<div class="card shadow-lg mx-4 card-profile-bottom">
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
                <div class="card-header pb-0">
                  <div class="d-flex align-items-center" style="float:right;">
                    <a class="nav-link"  href="{% url 'aragonapp:package_list'%}"><button class="btn btn-primary btn-sm ms-auto">Package Data</button></a>
                  </div>
                </div>
                <div class="card-body">
                  <p class="text-uppercase text-sm">Package Information</p>
                  <form id="form_new_site" action="{% url 'aragonapp:package_edit' %}" method="post"
                      enctype="multipart/form-data"> {% csrf_token %}
                      <input type="hidden" name="package_id" id="package_id" value="{{ package_qs.id}}">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                 <div class="form-group ">
                                    <label class="control-label" for="package_name">Package Name</label>
                                    <input type="text" required class="form-control" name="package_name" id="package_name" required placeholder="package_name"
                                           value='{{ package_qs.package_name }}'>
                                </div>
                            </div>

                            <div class="col-md-6">
                                 <div class="form-group ">
                                    <label class="control-label" for="package_price">Package Price</label>
                                    <input type="text" required class="form-control" name="package_price" id="package_price" required placeholder="package_price"
                                           value='{{ package_qs.package_price }}'>
                                </div>
                            </div>

                            <div class="col-md-6">
                                 <div class="form-group ">
                                    <label class="control-label" for="package_life">Package Life</label>
                                    <input type="text" required class="form-control" name="package_life" id="package_life" required placeholder="package_life"
                                           value='{{ package_qs.package_life }}'>
                                </div>
                            </div>


                            <div class="col-md-6">
                                 <div class="form-group ">
                                    <label class="control-label" for="package_type">Package Type</label>
                                    <input type="text" required class="form-control" name="package_type" id="package_type" required placeholder="package_type"
                                           value='{{ package_qs.package_type }}'>
                                </div>
                            </div>


                            <div class="col-md-6">
                                 <div class="form-group ">
                                    <label class="control-label" for="applicable_for">Applicable For</label>
                                    <input type="text" required class="form-control" name="applicable_for" id="applicable_for" required placeholder="applicable_for"
                                           value='{{ package_qs.applicable_for }}'>
                                </div>
                            </div>


                             <div class="col-md-6">
                                  <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="selectpicker show-tick form-control" id='status' name='status' required>
                                            <option value="True"{% if package_qs.status %}selected{% endif %}>Active</option>
                                            <option value="False"{% if not package_qs.status %}selected{% endif %}>Inactive</option>
                                        </select>
                                  </div>
                            </div>

                        </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
          </div>
        </div>
      </div>
    </div>
<body>


   <script type="text/javascript">
        $("#form_new_site").submit(function (e) {
            e.preventDefault();
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function (data) {
                    window.location.href = "{% url 'aragonapp:package_view' %}";
                },
                error: function (xhr) {
                    if (xhr.hasOwnProperty("responseJSON") && xhr.responseJSON.hasOwnProperty("msg")) {
                        swal({
                            text: xhr.responseJSON.msg,
                            icon: "error",
                            dangerMode: true,
                        })
                    }
                }
            })
        })

 </script>
{% endblock %}
