{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block htmlbody %}
<div class="card shadow-lg mx-4 card-profile-bottom">
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">View State</p>
                <a class="nav-link"  href="{% url 'aragonapp:state_list'%}"><button class="btn btn-primary btn-sm ms-auto">State Data</button></a>
              </div>
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">State Information</p>
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="country" class="form-control-label" >Country</label>
                    <input class="form-control" type="text" name="country" id="country" placeholder="country"
                           value='{{ state_one.country.country }}' readonly>
                  </div>
                </div>
                  <div class="form-group ">
                    <label class="control-label" for="state">State</label>
                    <input type="text" required class="form-control" name="state" id="state" placeholder="state"
                           value='{{ state_one.state }}'>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="selectpicker show-tick form-control" id='status' name='status' required>
                        <option value="True"{% if state_one.status %}selected{% endif %}>Active</option>
                        <option value="False"{% if not state_one.status %}selected{% endif %}>Inactive</option>
                    </select>
                </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div></div>
<body>


    <script type="text/javascript">
        $("#form_new_site").submit(function (e) {
            e.preventDefault();
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function (data) {
                    if (data.hasOwnProperty('state_id')){
                        window.location.href = "{% url 'aragonapp:state_view' %}?id=" + data.state_id;
                    }
                },
                error: function (xhr) {
                    if (xhr.hasOwnProperty("responseJSON") && xhr.responseJSON.hasOwnProperty("msg")) {
                        swal({
                            text: xhr.responseJSON.msg,
                            icon: "error",
                            dangerMode: true,
                        })
                    }
                }
            })
        })

    </script>
{% endblock %}
