{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block htmlbody %}
<body>
    <div class="d-flex flex-row">
        <div>
            <form id="form_new_site" action="{% url 'state_entry' %}" method="post"
                  enctype="multipart/form-data"> {% csrf_token %}
                <div class="form-group ">
                    <input type="hidden" name="id" id="id" value={{ state_qs.id }}>
                </div>
                <div class="form-group ">
                    <label class="control-label" for="state">State</label>
                    <input type="text" required class="form-control" name="state" id="state" placeholder="state"
                           value='{{ state_qs.state }}'>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select class="selectpicker show-tick form-control" name="country"
                            id="country" required>
                        {% for country in countries %}
                            <option value="{{ country.id }}"
                                    {% if state_qs.country == country.id %}selected{% endif %}>{{ country.country }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="selectpicker show-tick form-control" id='status' name='status' required>
                        <option value="True"{% if state_qs.status %}selected{% endif %}>1</option>
                        <option value="False"{% if not state_qs.status %}selected{% endif %}>0</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>


    <script type="text/javascript">
        $("#form_new_site").submit(function (e) {
            e.preventDefault();
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function (data) {
                    window.location.href = "{% url 'state_view' %}";
                },
                error: function (xhr) {
                    if (xhr.hasOwnProperty("responseJSON") && xhr.responseJSON.hasOwnProperty("msg")) {
                        swal({
                            text: xhr.responseJSON.msg,
                            icon: "error",
                            dangerMode: true,
                        })
                    }
                }
            })
        })

    </script>
{% endblock %}