{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block htmlbody %}
<div class="card shadow-lg mx-4 card-profile-bottom">
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center" style="float:right;">
                  <a class="nav-link"  href="{% url 'aragonapp:amenities_list'%}"><button class="btn btn-primary btn-sm ms-auto">Amenities Data</button></a>
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase text-sm">Amenities Information</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="name" class="form-control-label" >Name</label>
                              <input class="form-control" type="text" name="name" id="name" placeholder="name"
                                     value='{{ amenities_one.name }}' readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                             <label for="type">Type</label>
                             <select class="selectpicker show-tick form-control" id='type' name='type' readonly>
                               <option value="indoor"{% if amenities_one.type %}selected{% endif %}>Indoor</option>
                               <option value="outdoor"{% if not amenities_one.type %}selected{% endif %}>Outdoor</option>
                             </select>
                           </div>
                        </div>

                        <div class="col-md-6">
                              <div class="form-group">
                                <label for="status">Status</label>
                                <select class="selectpicker show-tick form-control" id='status' name='status' readreadonly>
                                    <option value="True"{% if amenities_one.status %}selected{% endif %}>Active</option>
                                    <option value="False"{% if not amenities_one.status %}selected{% endif %}>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
</div>
<body>


    <script type="text/javascript">
        $("#form_new_site").submit(function (e) {
            e.preventDefault();
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function (data) {
                    if (data.hasOwnProperty('area_id')){
                        window.location.href = "{% url 'aragonapp:area_view' %}?id=" + data.area_id;
                    }
                },
                error: function (xhr) {
                    if (xhr.hasOwnProperty("responseJSON") && xhr.responseJSON.hasOwnProperty("msg")) {
                        swal({
                            text: xhr.responseJSON.msg,
                            icon: "error",
                            dangerMode: true,
                        })
                    }
                }
            })
        })

    </script>
{% endblock %}
