<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Area</title>
</head>
<body>
    <div class="d-flex flex-row">
        <div>
            <form id="form_new_site" action="{% url 'area_entry' %}" method="post"
                  enctype="multipart/form-data"> {% csrf_token %}
                <div class="form-group ">
                    <input type="hidden" name="id" id="id" value={{ area_qs.id }}>
                </div>
                <div class="form-group ">
                    <label for="country">Country</label>
                    <select class="selectpicker show-tick form-control" data-live-search="true" id="country" name="country" required>-->
                        {% for country in countries %}
                            <option value="{{ country.id }}" {% if area_qs.country_id == country.id %}selected{% endif %}>{{ country.country }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select class="selectpicker show-tick form-control" data-live-search="true" name="state"
                            id="state" required>
                        {% for state in states %}
                            <option value="{{ state.id }}"
                                    {% if area_qs.state_id == state.id %}selected{% endif %}>{{ state.state }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select class="selectpicker show-tick form-control" data-live-search="true" name="city"
                            id="city" required>
                        {% for city in cities %}
                            <option value="{{ city.id }}"
                                    {% if city_qs.city_id == city.id %}selected{% endif %}>{{ city.city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="selectpicker show-tick form-control" id='status' name='status' required>
                        <option value="True"{% if city_qs.status %}selected{% endif %}>1</option>
                        <option value="False"{% if not city_qs.status %}selected{% endif %}>0</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label class="control-label" for="area">Area</label>
                    <input type="text" required class="form-control" name="area" id="area" placeholder="area"
                           value='{{ area_qs.area }}'>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</body>

 <script type="text/javascript">
        $("#form_new_site").submit(function (e) {
            e.preventDefault();
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function (data) {
                    window.location.href = "{% url 'area_view' %}";
                },
                error: function (xhr) {
                    if (xhr.hasOwnProperty("responseJSON") && xhr.responseJSON.hasOwnProperty("msg")) {
                        swal({
                            text: xhr.responseJSON.msg,
                            icon: "error",
                            dangerMode: true,
                        })
                    }
                }
            })
        })

    </script>